@model IEnumerable<TCC.FrontEnd.Models.PlanoAcao>

@{
    ViewData["Title"] = "Planos de ação";
}

<h4>Planos de ação</h4>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Classificacao)
                </th>
                <th><a asp-action="Create">Criar novo plano de ação</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(m => m.Nome))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classificacao)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.PlanoAcaoId }) |
                        @Html.ActionLink("Excluir", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>